@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.container {
  width: 100%;
  height: auto;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0 30px 0;
}
.nav img {
  max-width: 50%;
}
.nav_search {
  display: none;
  transition: background-color 0.5s ease-in-out;
}
.nav_search:hover {
  background-color: rgba(255, 255, 255, 0.24);
}
.nav_profile {
  display: none;
}
.nav_profile img {
  border-radius: 50%;
}
.nav_menu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
  font-size: 24px;
}
.nav_menu .search {
  margin-right: 30px;
}
.nav_menu i {
  padding: 10px;
}
.nav_menu i:hover {
  background-color: rgba(80, 129, 251, 0.08);
  border-radius: 8px;
}

.asideLeft {
  display: none;
}

/* community page */
.main_community .card_box {
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.16);
}
.main_community .card_box-code {
  padding: 20px;
  border-radius: 8px;
}
.main_community .card_box-code.green {
  background-color: #9aff6b;
}
.main_community .card_box-code.purple {
  background-color: #6b83ff;
}
.main_community .card_box-code.orange {
  background-color: #ffc46b;
}
.main_community .card_box-code.pink {
  background-color: #ff6bcd;
}
.main_community code {
  width: 100%;
  min-height: 350px;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  background-color: #141414;
  color: #ffffff;
  padding: 0 10px;
  line-height: 20px;
  border-radius: 0 0 8px 8px;
  margin-top: -2px;
}
.main_community .card_info {
  margin-top: 20px;
  padding: 0 20px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}
.main_community .card_info h2 {
  font-size: 24px;
  font-weight: 700;
}
.main_community .card_info p {
  font-size: 16px;
  margin: 15px 0 25px 0;
}
.main_community .card_bottomBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 15px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
.main_community .card_bottomBar_icon {
  display: flex;
}
.main_community .card_bottomBar_icon i {
  margin-right: 3px;
}
.main_community .card_bottomBar_icon .count {
  display: flex;
  align-items: center;
  padding: 10px;
}
.main_community .card_bottomBar_icon .count img {
  padding-right: 10px;
}
.main_community .card_bottomBar_icon .count:hover {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.08);
}
.main_community .card_bottomBar_profile {
  display: flex;
  align-items: center;
}
.main_community .card_bottomBar_profile img {
  margin-right: 10px;
  width: 24px;
  border-radius: 50%;
}

.code {
  margin-bottom: 30px;
}
.code_block {
  background-color: lightcoral;
  width: 100%;
  height: 250px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  height: auto;
}
.code_circleBar {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #141414;
  border-radius: 8px 8px 0 0;
}
.code_circle {
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  margin-right: 5px;
}
.code_circle.red {
  background-color: #ff5f56;
}
.code_circle.yellow {
  background-color: #ffbd2e;
}
.code_circle.green {
  background-color: #27c93f;
}
.code_textarea {
  width: 100%;
  height: 255px;
  font-size: 14px;
  margin-top: -2px;
  padding: 10px 10px;
  background-color: #141414;
  border: none;
  border-radius: 0 0 8px 8px;
  outline: none;
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
}
.code_btn, .code_btnExport {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(80, 129, 251, 0.08);
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s ease-in-out;
  margin-bottom: 10px;
}
.code_btn:hover, .code_btnExport:hover {
  background-color: rgba(80, 129, 251, 0.16);
}
.code_btn:focus, .code_btnExport:focus {
  background-color: rgba(80, 129, 251, 0.24);
}

.form {
  width: 100%;
}
.form_title {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.4rem;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  margin-bottom: 10px;
}
.form_input {
  width: 100%;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 15px 10px;
  background-color: rgba(255, 255, 255, 0.16);
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 16px;
}
.form_input:hover {
  background-color: rgba(255, 255, 255, 0.24);
}
.form_input::placeholder {
  color: white;
}
.form_input-textarea {
  width: 100%;
  height: 80px;
  resize: none;
}
.form_style {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.4rem;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  margin: 10px 0;
}
.form_input-select option {
  background-color: #051d3b;
}
.form_input-color {
  background-color: transparent;
  height: 55px;
  width: 100%;
  border-radius: 8px;
  outline: none;
  border: 1 px solid #ffffff;
}
.form_btn {
  width: 100%;
  height: 56px;
  font-size: 16px;
  color: #141414;
  background-color: #5081fb;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.form_btn:hover {
  background-color: #7ba4fc;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #051d3b;
}

@media (min-width: 760px) {
  .nav img {
    max-width: 30%;
  }
  .nav_menu {
    width: 70%;
    justify-content: space-between;
    align-items: center;
  }
  .nav .search {
    display: none;
  }
  .nav_search {
    display: inline-block;
    width: 90%;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.16);
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border-radius: 8px;
    color: #ffffff;
  }

  .form .style_inputs {
    display: flex;
    width: 100%;
  }
  .form .style_inputs select {
    margin-right: 2%;
  }
  .form_btn {
    margin-top: 20px;
  }

  /* community page */
  .main_community_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 10vh auto;
  }

  .nav {
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 10px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .nav img {
    width: 10%;
    margin-right: 8rem;
  }
  .nav_menu {
    display: flex;
    width: 55%;
    justify-content: flex-start;
    color: #ffffff;
    font-size: 24px;
  }
  .nav_search {
    width: 100%;
  }
  .nav .hamburguer {
    display: none;
  }
  .nav_profile {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .nav_profile img {
    margin-right: 10px;
    width: 32px;
  }
  .nav_profile .profile_name {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #ffffff;
  }

  .asideLeft {
    display: block;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .asideLeft_p {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.4rem;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    margin: 10px 0;
  }
  .asideLeft_pages {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .asideLeft_pages a.community {
    color: rgba(255, 255, 255, 0.5);
  }
  .asideLeft_pages img.community {
    opacity: 50%;
  }
  .asideLeft_pages.community img.index {
    opacity: 50%;
  }
  .asideLeft_pages.community img.community {
    opacity: 100%;
  }
  .asideLeft_icone {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #5081fb;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .asideLeft_icone:focus {
    background-color: #96b9fd;
  }
  .asideLeft_icone:hover {
    background-color: #7ba4fc;
  }
  .asideLeft_icone.community {
    background-color: rgba(80, 129, 251, 0.16);
    color: rgba(255, 255, 255, 0.5);
  }
  .asideLeft_link {
    font-size: 16px;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
  }

  .code {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 0;
  }

  .form {
    grid-column: 3/4;
    grid-row: 2/3;
    padding-left: 30px;
  }
  .form .style_inputs {
    flex-direction: column;
  }
  .form select {
    margin-right: 0;
  }

  /* community page */
  .container.community {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 10vh auto;
  }

  .main_community .p_textarea {
    width: 100%;
    min-height: 250px;
    font-size: 11px;
    font-family: "Roboto Mono", monospace;
    background-color: #141414;
    color: #ffffff;
    padding: 10px;
    line-height: 20px;
  }
  .main_community_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .asideLeft.community .asideLeft_pages.community a.community {
    color: #ffffff;
  }
  .asideLeft.community .asideLeft_pages.community a.index {
    color: rgba(255, 255, 255, 0.5);
  }
  .asideLeft.community .asideLeft_icone.community {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #5081fb;
    margin: 10px 0;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .asideLeft.community .asideLeft_icone.community.index {
    background-color: rgba(80, 129, 251, 0.16);
    color: rgba(255, 255, 255, 0.5);
  }
  .asideLeft.community .asideLeft_icone.community.community1 {
    background-color: #5081fb;
    color: #ffffff;
  }
  .asideLeft.community_link {
    font-size: 16px;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
